
body {
  @apply bg-slate-100 min-h-screen
}

@font-face {
  font-family: UbuntuLight;
  src: url("/public/fonts/Ubuntu/Ubuntu-Light.ttf");
  weight: 400;
}

@font-face {
  font-family: UbuntuRegular;
  src: url("/public/fonts/Ubuntu/Ubuntu-Regular.ttf");
  weight: 500;
}

@font-face {
  font-family: UbuntuBold;
  src: url("/public/fonts/Ubuntu/Ubuntu-Bold.ttf");
  weight: 600;
}

@font-face {
  font-family: UbuntuMedium;
  src: url("/public/fonts/Ubuntu/Ubuntu-Medium.ttf");
  weight: 700;
}

@font-face {
  font-family: UbuntuItalic;
  src: url("/public/fonts/Ubuntu/Ubuntu-Italic.ttf");
  weight: 800;
}
